In [26]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib
from sklearn import tree

In [46]:
df = pd.read_csv('Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [22]:
#df.describe shows the numerical value of the total number of values in the respective columns

In [23]:
A = df.drop(columns=['Purchased'])
A

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [24]:
h = df['Purchased']
h

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [27]:
# Split the data using train_test_split
A_train, A_test, h_train, h_test =train_test_split(A,h,test_size=0.2)

In [34]:
h_train

140    0
145    0
340    1
176    0
381    1
      ..
282    1
27     1
297    1
132    0
278    1
Name: Purchased, Length: 320, dtype: int64

In [36]:
# Training a decision tree model
model = DecisionTreeClassifier()
model.fit(A_train, h_train)

DecisionTreeClassifier()

In [37]:
# Making predictions on the test set
h_pred = model.predict(A_test)
h_pred

array([0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [52]:
# Evaluating the model
accuracy = accuracy_score(h_test,h_pred)
print("Accuracy:", accuracy)

Accuracy: 0.85